<p id="notice"><%= notice %></p>

<h1>Listing Contacts</h1>

<table>
  <thead>
    <tr>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr id="contact_<%= contact.id %>">
        <td><%= contact.name %></td>
        <td><% contact.phones.each do |phone| %>
          <tr id="phone_<%= phone.id %>">
            <td>
              <%= phone.number %>
            </td>
          </tr>
        </td>
        <% end %>
        <td><%= link_to 'Show', user_contact_path(contact.user_id, contact) %></td>
        <td><%= link_to 'Edit', edit_user_contact_path(contact.user_id, contact) %></td>
        <td><%= link_to 'Destroy', user_contact_path(contact.user_id, contact), method: :delete, data: { confirm: 'Are you sure?' }, remote: true %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contact', new_user_contact_path %>
